body {
    font-family: "Gowun Batang", sans-serif;
    line-height: 1.8;
    color: #484b45;
    background-color: #fffdf9;

    max-width: 1000px;
    margin: 0;
    padding: 45px;
}

.container {
    max-width: 800px;
    margin: 30 auto;
    padding: 45px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 가장 큰 제목 */
h1 {
    color: #315c45;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 3px solid #7fa889;
}

/* 영역별 제목 */
h2 {
    color: #46725a;
    font-size: 23px;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #b4c9b8;
}

/* 작은 제목 */
h3 {
    color: #60806a;
    font-size: 19px;
    margin-bottom: 8px;
}

/* 문단 */
p {
    color: #686b64;
    margin: 6px 0 16px;
}

/* 링크 */
a {
    color: #3d7654;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #71947c;
}

a:hover {
    color: #234b34;
    border-bottom: 1px solid #234b34;
}

/* 목록 */
ul {
    line-height: 2;
}

/* 구분선 */
hr {
    margin: 35px 0;
    border: 0;
    border-bottom: 1px solid #d8d3c4;
}

/* 이미지 */
img {
    max-width: 100%;
    border-radius: 5px;
}

.trip-card {
    color: #484b45;
    background-color: #f9f9f9;
    boarder: 1px solid #d8d3c4;
    boarder-left: 5px solid #7fa889;
    margin: 20px 0;
    padding: 20px;
}

.trip-card:hover {
    background-color: #eaf1e6;
}

/* 시간표 */
table {
    width: 100%;
    margin: 25px 0;

    border-collapse: collapse;
    background-color: #fffdf9;
}

th,
td {
    padding: 14px 12px;
    border: 1px solid #cad6c7;
    text-align: center;
}

th {
    color: #ffffff;
    background-color: #587a61;
}

td {
    color: #555b54;
}

tbody tr:nth-child(even) {
    background-color: #f2f5ee;
}

tbody tr:hover {
    background-color: #e5eee1;
}
